<div>
  <h1>
    {{name}}
  </h1>
  <h2>
    {{auctionDate}}
  </h2>
</div>

{{outlet}}

{{#link-to 'newLot' this.id}}
<a class="btn">Add lot to this auction</a>
{{/link-to}}

<ul>
{{#each lot in lots}}
  {{#link-to 'lot' this.id lot.id}}
    <li>{{lot.name}}</li>
  {{/link-to}}
{{/each}}
</ul>
