<form class="well">
  <div class="form-group">
    <label> Lot Name
      {{input type="text" value=name class="form-control"}}
    </label>
    <label> Historic Period
      {{view "select" content=periods value=selectedPeriod}}
    </label>
  </div>
  <button {{action 'save'}} class="btn btn-success">Add lot</button>
  <button {{action 'cancel'}} class="btn btn-warning">Cancel</button>
</form>
